/* screens from 1291px to 1330px */

@media only screen and (max-width: 1330px) {

    div.hero-background-pos {
        left: 68%;
        margin-top: 45px;
    }

    div.background {
        height: 230px;
    }

}

/* screens from 1221px to 1290px */

@media only screen and (max-width: 1290px) {

    div.hero-background-pos {
        left: 68%;
        margin-top: 40px;
    }

    div.background {
        height: 230px;
    }

}

/* screens from 1151px to 1220px */

@media only screen and (max-width: 1220px) {

    div.hero-background-pos {
        left: 69%;
        margin-top: 40px;
    }

    div.background {
        height: 230px;
    }

}

/* screens from 1051px to 1150px */

@media only screen and (max-width: 1150px) {

    div.hero-background-pos {
        left: 71%;
        margin-top: 40px;
    }

    div.background {
        height: 230px;
    }

}

/* screens from 971px to 1050px */

@media only screen and (max-width: 1050px) {

    div.hero-background-pos {
        left: 73%;
        margin-top: 50px;
    }

    div.background {
        height: 230px;
    }

}

/* screens from 916px to 970px */

@media only screen and (max-width: 970px) {

    div.hero-background-pos {
        left: 75%;
        margin-top: 50px;
    }

    div.background {
        height: 230px;
    }

}

/* screens from 769px to 915px */

@media only screen and (max-width: 915px) {

    div.hero-background-pos {
        left: 76%;
        margin-top: 50px;
    }

    div.background {
        height: 230px;
    }

    div.footer-input {
        display: block;
        width: 60%;
        margin: 0 auto;
    }

    input[type="text"] {
        width: 100%;
        margin-bottom: 1rem;
    }

    input[type="email"] {
        width: 100%;
    }

    textarea {
        width: 60%;
    }

    

}

/* screens from 501px to 768px */

@media only screen and (max-width: 768px) {

    /* Navigation */

    div.nav-bar {
        padding: 1rem 2rem;
    }

    div.logo {
        font-size: 1.2rem;
    }

    ul.nav-links {
        display: none;
        position: absolute;
        left: 0;
        top: 4rem;
        width: 100%;
        text-align: center;
        background-color: #ffffff;
        z-index: 999;
    }
    
    ul li {
        margin: 15px 0;
    }

    ul li a:hover {
        color: #304353;
        background: none;
        padding: 1rem;
    }

    .mobile-nav-open {
        display: inline-block;
    }

    .mobile-nav-close {
        display: none;
    }

    ul.nav-links.show-mobileNavLinks {
        display: block;
    }

    /* Header section */

    div.hero-section {
        padding: 3rem;
    }

    div.hero-content-heading h3 {
        font-size: 1.2rem;
    }

    div.hero-content-heading p {
        padding-top: 1rem;
        font-size: 0.8rem;
    }

    /* Background section */

    div.background {
        padding: 15px 10px;
        height: 180px;
    }

    div.hero-background-pos {
        display: none;
    }

    div.hero-background {
        padding: 1rem;
    }

    div.background h4 {
        padding: 1.5rem 0.5rem;
    }

    div.background p {
        padding-left: 0.5rem;
    }

    /* Snapshot section */

    div.snapshot-team {
        padding: 2rem 4rem 0 4rem;
    }

    div.snapshot-team h2 {
        font-size: 1.2rem;
    }

    div.snapshot-team p {
        font-size: 0.8rem;
        padding-top: 0.8rem;
    }

    div.snapshot-box-content {
        display: block;
    }

    div.box1, 
    div.box3 {
        margin-top: 1rem;
    }

    /* Gallery section */

    div.gallery-content h4 {
        font-size: 1.2rem;
    }

    div.gallery-content p {
        font-size: 0.8rem;
    }

    /* Message section */

    div.footer-content h4 {
        font-size: 1.2rem;
    }

    div.footer-content p {
        font-size: 0.8rem;
    }

}

/* screens from 426px to 500px */

@media only screen and (max-width: 500px) {

    div.background {
        padding: 15px 10px;
        height: 200px;
    }

}

/* screens from 376px to 425px */

@media only screen and (max-width: 425px) {

    div.background {
        padding: 15px 10px;
        height: 210px;
    }

}

/* screens from 321px to 375px */

@media only screen and (max-width: 375px) {

    div.background {
        padding: 15px 10px;
        height: 220px;
    }

}

/* screens from 0 to 320px */

@media only screen and (max-width: 320px) {

    div.background {
        padding: 15px 10px;
        height: 240px;
    }

}